.heading
{
    font-size: 23px;
    width: 100%;
    margin: 0px;
    box-shadow: 5px 10px 10px darkcyan;
}

.note
{
    font-size: 18px;
    color: darkblue;
}

.copy_right_footer
{
    position: fixed;
    color: cyan;
    bottom: 0;
    width: 100%;
    background-color: teal;
    line-height: 3;
    text-align: left;
}

canvas
{
    border: 5px solid turquoise;
    border-radius: 20px;
    box-shadow: 5px 10px 10px teal;
}